<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tests">
    <listeners>
        <listener class-name="listeners.TestResultListener" />
    </listeners>
    <test name="API test">
        <classes>
            <class name="APITests" />
        </classes>
    </test>
    <test name="WebUI Firefox Test">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="WebUITests" />
        </classes>
    </test>
    <test name="WebUI Chrome Test">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="WebUITests" />
        </classes>
    </test>
</suite>